In [2]:
pip install pandas

Requirement already satisfied: pandas in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.22.4 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
pd.__version__

'2.3.3'

In [4]:
import numpy as np

In [5]:
df = pd.read_csv('Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv', encoding='utf8')

In [6]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF,CP3.1,NF.1
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.000000,5,5.000000
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.000000,5,5.000000
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.000000,5,5.000000
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.000000,5,5.000000
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.000000,5,5.000000
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000,5,5.000000
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.666667,1,3.666667
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.333333,5,2.333333
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.333333,1,2.333333
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.000000,5,5.000000
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.000000,1,1.000000
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.666667,1,3.666667
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.000000,5,5.000000
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000,5,5.000000
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.666667,1,3.666667
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.000000,1,1.000000
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.000000,1,1.000000
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.666667,1,3.666667

In [6]:
df.iloc[:, 3] = df.iloc[:, 3].astype(str).str.replace(",", ".").astype(float)

In [7]:
df.iloc[:, 3] = df.iloc[:, 3].astype(float)

In [8]:
def fcosto3(n):
    n1=int(n[4])
    c100derivado=(2*n1*100)+2
    return float(c100derivado)

In [9]:
df["Punto 3"]=df.apply(fcosto3, axis=1)

/tmp/ipykernel_8134/2081714645.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n1=int(n[4])

In [10]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.000000
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.000000
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.000000
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.000000
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.000000
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.666667
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.333333
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.333333
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.000000
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.000000
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.666667
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.000000
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.666667
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.000000
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.000000
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.666667

In [11]:
def calificación3(n):
    n1=int(n[3])
    n2=int(n[9])
    if n1==n2:
        return 5
    else:
        return 1

In [12]:
df["Calificación P3"]=df.apply(calificación3, axis=1)

/tmp/ipykernel_8134/3423969005.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n1=int(n[3])
/tmp/ipykernel_8134/3423969005.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n2=int(n[9])

In [13]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF,Calificación P3
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.000000,5
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.000000,5
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.000000,5
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.000000,5
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.000000,5
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000,5
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.666667,1
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.333333,5
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.333333,1
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.000000,5
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.000000,1
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.666667,1
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.000000,5
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000,5
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.666667,1
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.000000,1
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.000000,1
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.666667,1

In [14]:
def calificaciónfinal(n):
    n1=int(n[6])
    n2=int(n[8])
    n3=int(n[10])
    nfinal=(n1+n2+n3)/3
    return nfinal

In [15]:
df["Calificación Final"]=df.apply(calificaciónfinal, axis=1)

/tmp/ipykernel_8134/2822215833.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n1=int(n[6])
/tmp/ipykernel_8134/2822215833.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n2=int(n[8])
/tmp/ipykernel_8134/2822215833.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  n3=int(n[10])

In [16]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF,Calificación P3,Calificación Final
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.000000,5,5.000000
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.000000,5,5.000000
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.000000,5,5.000000
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.000000,5,5.000000
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.000000,5,5.000000
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000,5,5.000000
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.666667,1,3.666667
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.333333,5,2.333333
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.333333,1,2.333333
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.000000,5,5.000000
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.000000,1,1.000000
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.666667,1,3.666667
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.000000,5,5.000000
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000,5,5.000000
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.666667,1,3.666667
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.000000,1,1.000000
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.000000,1,1.000000
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.666667,1,3.666667

In [ ]:
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)

In [ ]:
df = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")
df = df.rename(columns={"Calificación P3": "CP3"})
df = df.rename(columns={"Calificación Final": "NF"})
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)

In [19]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF,CP3,NF
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.000000,5,5.000000
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.000000,5,5.000000
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.000000,5,5.000000
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.000000,5,5.000000
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.000000,5,5.000000
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000,5,5.000000
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.666667,1,3.666667
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.333333,5,2.333333
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.333333,1,2.333333
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.000000,5,5.000000
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.000000,1,1.000000
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.666667,1,3.666667
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.000000,5,5.000000
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000,5,5.000000
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.666667,1,3.666667
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.000000,1,1.000000
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.000000,1,1.000000
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.666667,1,3.666667

In [9]:
df = df.drop(columns=["CP3.1", "NF.1"])

In [10]:
df

,Número de documento,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 105 unidades (Poner dos decimales),Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nHallar el costo promedio de producir de 100 a 101 unidades (Poner dos decimales)\n,Sea la función de costo C(x) = n*x^2 + 2*x + 23. \nUsar el costo marginal para aproximar el costo promedio entre x= 100 y x =101 (Poner dos decimales),N,Punto 1,CP1,Punto 2,CP2,Punto 3,CP3,NF
0,1021674384,7382.000,7238.000,7202.000,36,7382.0,5,7238.0,5,7202.0,5,5.000000
1,1028481694,8817.000,8645.000,8602.000,43,8817.0,5,8645.0,5,8602.0,5,5.000000
2,1012976628,8612.000,8444.000,8402.000,42,8612.0,5,8444.0,5,8402.0,5,5.000000
3,1103500518,4922.000,4826.000,4802.000,24,4922.0,5,4826.0,5,4802.0,5,5.000000
4,1141316451,5537.000,5429.000,5402.000,27,5537.0,5,5429.0,5,5402.0,5,5.000000
5,1127228530,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000
6,1000794960,7382.000,7238.000,2.000,36,7382.0,5,7238.0,5,7202.0,1,3.666667
7,1019606644,389866.330,3739.230,7402.000,37,7587.0,1,7439.0,1,7402.0,5,2.333333
8,1104224296,6356.600,6233.000,62.000,31,6357.0,1,6233.0,5,6202.0,1,2.333333
9,1094049572,8407.000,8243.000,8202.000,41,8407.0,5,8243.0,5,8202.0,5,5.000000
10,1025062924,6.357,6.233,6.202,31,6357.0,1,6233.0,1,6202.0,1,1.000000
11,1028485597,10047.000,9851.000,2.000,49,10047.0,5,9851.0,5,9802.0,1,3.666667
12,1013037578,7177.000,7037.000,7002.000,35,7177.0,5,7037.0,5,7002.0,5,5.000000
13,1113364165,6357.000,6233.000,6202.000,31,6357.0,5,6233.0,5,6202.0,5,5.000000
14,1140914656,7587.000,7439.000,76.000,37,7587.0,5,7439.0,5,7402.0,1,3.666667
15,1011095164,5740.000,5620.000,5600.000,28,5742.0,1,5630.0,1,5602.0,1,1.000000
16,1193231792,175.000,152.000,1.000,38,7792.0,1,7640.0,1,7602.0,1,1.000000
17,1077228324,7382.000,7238.000,366.820,36,7382.0,5,7238.0,5,7202.0,1,3.666667

In [11]:
df.to_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv", index=False)

In [ ]:
def percentiles(archivo, nombre_columna):
    try:
        df = pd.read_csv(archivo)
        if nombre_columna not in df.columns:
            return 'Error al procesar la columna'
        
        est = df[nombre_columna].describe()
        return f"Percentil 25: {est['25%']}, Percentil 50: {est['50%']}, Percentil 75: {est['75%']}"
    
    except FileNotFoundError:
        return 'Error al procesar la columna'
    except Exception as e:
        return 'Error al procesar la columna'

In [21]:
percentiles("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv","CP3")

'Percentil 25: 1.0, Percentil 50: 5.0, Percentil 75: 5.0'

In [22]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.9.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.60.1-cp39-cp39-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (112 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.7-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from matplotlib) (2.0.2)
Requirement already satisfied: packaging>=20.0 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.3.0-cp39-cp39-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.5-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from matplotlib) (2.9.0.post0)
Collecting importlib-resources>=3.2.0 (from matplotlib)
  Downloading importlib_resources-6.5.2-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: zipp>=3.1.0 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.23.0)
Requirement already satisfied: six>=1.5 in /workspaces/Proyecto_Final_Grupo_1/.venv/lib/python3.9/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.9.4-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (8.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.3/8.3 MB 46.1 MB/s  0:00:00
Downloading contourpy-1.3.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (321 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.60.1-cp39-cp39-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (4.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.8/4.8 MB 54.2 MB/s  0:00:00
Downloading importlib_resources-6.5.2-py3-none-any.whl (37 kB)
Downloading kiwisolver-1.4.7-cp39-cp39-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 43.1 MB/s  0:00:00
Downloading pillow-11.3.0-cp39-cp39-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (6.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 43.3 MB/s  0:00:00
Downloading pyparsing-3.2.5-py3-none-any.whl (113 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, importlib-resources, fonttools, cycler, contourpy, matplotlib
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8/8 [matplotlib]8 [matplotlib]
Successfully installed contourpy-1.3.0 cycler-0.12.1 fonttools-4.60.1 importlib-resources-6.5.2 kiwisolver-1.4.7 matplotlib-3.9.4 pillow-11.3.0 pyparsing-3.2.5

In [23]:
import matplotlib.pyplot as plt

In [24]:
import os
ruta = "/workspaces/Proyecto_Final_Grupo_1/pandas/Figuras"
os.makedirs(ruta, exist_ok=True)

df = pd.read_csv("Quiz Cálculo 1- Gobierno 22 de Octubre(1-18).csv")

p = range(10, 100, 10)
val = df["NF"].quantile([x/100 for x in p])

val.plot(kind="bar", color="skyblue")
plt.title("Percentiles en NF")
plt.ylabel("NF")
plt.xticks(range(len(p)), [f"{x}%" for x in p])
plt.tight_layout()

plt.savefig(os.path.join(ruta, "Percentiles.png"))
plt.close()